<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Products</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="container">
            <div class="row">
                <button type="button"data-bs-dismiss="offcanvas" routerLink="/Product" class="btn btn-outline-dark">Food And Agro Products</button>
            </div>
            <br>
            <div class="row">
                <button type="button"data-bs-dismiss="offcanvas"routerLink="/Product" class="btn btn-outline-dark">Spices</button>
            </div>
            <br>
            <div class="row">
                <button type="button"data-bs-dismiss="offcanvas"routerLink="/Product" class="btn btn-outline-dark">Tools</button>
            </div>
            <br>
            <div class="row"> <button type="button"data-bs-dismiss="offcanvas"routerLink="/Product" class="btn btn-outline-dark">Electric Power Tools</button></div>  <br>
            <div class="row"><button type="button"data-bs-dismiss="offcanvas"routerLink="/Product" class="btn btn-outline-dark">Household Items</button></div>  <br>
            

        </div>
    </div>
</div>

