 <!-- ======= About Us Section ======= -->
 <br>
 <section id="about" class="about">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h1>About Us</h1>
        <!-- <p>Simplifying worldwide shipping</p> -->
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <div class="image">
            <img src="../../../assets/images/about.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-left">
          <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
            <h3>Protection is not a principle but an expedient</h3>
            <!-- <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bx bx-check-double"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul> -->
            <p style="line-height: 2;">
              &nbsp;&nbsp;&nbsp;&nbsp;Here at Toboa Global Pvt Ltd, we strive to make Indian technology, goods and services the benchmark when it comes to affordability, durability and reliability. Many countries are seeing a
              decline in their standard of living due to a skyrocketing cost of living. Some countries still cannot afford many utilities that an average citizen of the world sees as basic necessities. Machines,
              tools and goods which makes life easier come at unfair prices. Toboa Global Pvt Ltd aims at providing a better standard of living at a cheaper cost. In this era of Liberalisation, Globalisation and Privatisation, the world is ready for a change. Toboa Global Pvt Ltd tries to export that change.
            </p>
            <br>
            <p>
              
              <button type="button" class="btn btn-outline-dark" aria-current="page" routerLink="/Product" >Products We are Currently Exporting</button>
              <app-products></app-products>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->
  <br>
  <br>