<section id="hero">
    <div class="hero-container">
      <a href="index.html" class="hero-logo" data-aos="zoom-in"><img style="border-radius: 20px;" src="../../../assets/images/hero-logo.png" alt=""></a>
      <h1 data-aos="zoom-in">Welcome To Toboa</h1>
      <h2 data-aos="fade-up">We are a team of Experienced Marketers And We Trade Goods.</h2>
      <a data-aos="fade-up" data-aos-delay="200"  routerLink="/Product" class="btn-get-started scrollto">Products We are Currently Exporting</a>
      <app-products></app-products>
    </div>
  </section>

